@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
* ,*::before , *::after{
    box-sizing: border-box;
}
a.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color:#252B42;
}
a.nav_link_text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #737373;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 1%;
    
    
}
.buttons{
  padding: 40px 0px;
}
.logo{
    cursor: pointer;;
    margin-right: auto;
}
.nav_links{
    list-style:none;
    padding-top: 15px;
}
.nav_links li{
    display: inline-block;
    padding: 0px 25px;
}

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
 }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
   }
 
.group{
  display: flex;
  gap: 620px;
  height: 700px;
  
}
  .h1-main-text{
    max-width: 450px;
    font-weight: 800;
    font-size: 48px;
    padding: 110px 0;
    
  }
  .h4-main-text{
    color: #737373;
    font-size: 18px;
    max-width: 450px;;
    margin-top: -100px !important;
  }

  .container-content-1{
    padding: 110px 0;
  }

  img {
    max-width: 100%;
    height: auto; }
  
  figure {
    margin: 0; }
  
  p {
    margin-bottom: 0px; }
  
  
  .clear {
    clear: both; }
  

  .main {
    padding: 100px 0;
    width: 300px;
    height: 505px;
    
      }
   
  
 .signup-form{
  padding: 10px;
  
 }
  
  .container {
    width: 220px;
    background: #fff;
    margin: 0 auto;
  
    border-radius: 10px;
 }
  
  .sign-up-content {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99; }
  
  input , select{
    border: solid 2px #ebebeb;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    
    border-radius: 5px;
  }
  .form-title{
    font-size: 29px;
    width: 300px;
  }
  
  
  .submit {
    background: #FFA62B;
    color: #FFF;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
   height: 60px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
 }
    .submit:hover {
      background: #f1b96b }
  
  .loginhere {
    text-align: center;
    color: #888;
    margin-top: 63px; }
  
  .loginhere-link {
    color: #1da0f2;
    text-decoration: none; }
    .loginhere-link:hover {
      text-decoration: underline; }
  
.white{
    margin-bottom: 50px !important;
}
  
    input {
      width: 250px;
      padding: 20px;
    height: 50px; } 
  h6{
    font-weight: 600 !important;
    margin: 10px 0px !important;
    padding-left: -10px;
  }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    body{
        background: #E3F2FD;
        font-family: 'Montserrat', sans-serif;
        
        
        
    
    }
    .select-menu{
        width: 250px;
       
    }
    .select-menu .select-btn{
        display: flex;
        height: 50px;
        border: solid 2px #ebebeb;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        font-weight: 700;
        font-size: 14px;
        padding: 20px;
        font-size: 18px;
        font-weight: 400;
        
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        
    }
    .select-btn i{
        font-size: 25px;
        transition: 0.3s;
    }
    .select-menu.active .select-btn i{
        transform: rotate(-180deg);
    }
    .select-menu .options{
        position: relative;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        display: none;
    }
    .select-menu.active .options{
        display: block;
    }
    .options .option{
        display: flex;
        height: 50px;
        cursor: pointer;
        padding: 0 16px;
        border-radius: 8px;
        align-items: center;
        background: #fff;
    }
    .options .option:hover{
        background: #F2F2F2;
    }
    .option i{
        font-size: 25px;
        margin-right: 12px;
    }
    .option .option-text{
        font-size: 18px;
        color: #333;
    }
     
.container-text{
  display: flex;
  justify-content: center !important;
}
.container-card{
  margin: 100px 250px;
  display: flex;
  justify-content: center;
  
  gap: 85px;
}
.card-1{
  width: 400px;
  height: 385px;
}
.head-card{
  background-color: #d9edff;
  width: 400px;
  height: 180px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: -100px;
  
}
.circle-avatar{
  background-color: white;;
  width: 72px;
  height: 72px;
  padding: 20px 10px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  position: absolute;
 
}
.card-list{
  list-style-type: none;
  color: #737373;
 font-weight: 600;
 
  
}
.card-content{
  border-radius: 10px;
  border: 1px solid #a9d6ff;
  background-color: white;;
  width: 400px;
  margin-left: -20px ;
  float: left;
  margin-top: 30px;
  padding: 40px 0 40px 0;
}
.card-list li::before{
  content:"- ";
}
.video-container{
  width: 100%;
  height: 600px;
  margin: 100px 0px 0px 0px;
  
}
.background-video{
  background: linear-gradient( #ffffff 50%, #0b353d 50%);
  background-size: 100%;
  background-size: 100%;
  height: 700px;
  width:100%;
}
.play{
  width: 100px;
  height: 100px;
  border-radius: 80px;
  position: absolute;
  background-color:#00A0C1;
  margin: 200px 380px;
}
.icon-play{
  padding-top: 25px;
}
.card-client{
  width: 400px;
  height: 385px;
}
.container-clients{
  margin: 100px 200px;
  
}
.stars{
  display: flex;
  list-style-type: none;
  
}
.avatar-person{
  width: 80px;
  height: 80px;
  
}
.client-review{
  border: 1px solid #dedede;
  width: 300px;
  height: 255px;
  padding: 40px;
  border-radius: 8px;
}
.role{
  margin: -80px 60px ;
  width: 200px;
}
.container-clients{
  display: flex;
  justify-content: center;
  gap: 240px;
}
.personal{
  width: 328px;
  height: 373px;
  border: 1px solid #EEEEEE;
}
ul.links-social{
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 5px;
  justify-content: center;
}
.cards-personal{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.form{
  padding:120px;
  width: 1000px;
  height: 681px;
  margin: 180px 160px ;
}
.contact_us{
  width: 100%;
 ;
  background-color: white;;
  margin: 300px 0 0 0 ;
  display: flex;
  height: 152px;
  gap: 515px;
}
footer{
  background-color: #252b42;
  background-size: 100%;
  width: 1923px;
  margin-left: -300px;
  height: 626px;
}
.container-footer{
  margin: 0 300px;
}
.logo-social{
  width: 1280px;
  display: flex;
  justify-content: center;
  padding: 80px 0px;
  border-bottom: 3px solid #364067;
}
.social-networks{
  margin: 10px;
}
.company-info-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;  
  margin: 100px 0px;
  
}
h5.headers{
  font-weight: 700;
font-size: 16px;
color: white;;
}
p{
  color: #BDBDBD;
}
.down-div{
  background-color: #16697A;
  width: 100%;
  height: 80px;
 
  
}
h6.down-div-text{
  color: white !important;
  padding: 30px;
  margin: 0 260px !important;
}